@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
        body {
            font-family: 'Open Sans', sans-serif;
            background: linear-gradient(to right top, #fe4b8c, #ff6081, #ff747a, #ff8876, #ff9a78, #ff9379, #ff8c7b, #ff857d, #fc638c, #e946a8, #bd40ca, #5f4eec) no-repeat center center fixed;
            margin-left: 5px;
            word-wrap: break-word;
            color: black;
        }
        .code {
            background: #161b22;
            padding: 5px;
            color: #c9d1d9;
            border-radius: 6px;
            position: relative;
        }
        .copybutton {
            position: absolute;
            bottom: 3px;
            right: 3px;
            padding: 7.5px;
            background: #21262d;
            border-radius:5px;
            visibility: hidden;
        }
        
        .code:hover .copybutton {
            visibility: visible;
        }
        .tooltip {
            text-decoration:none;
            position:relative;
        }
        .tooltip span {
            display:none;
        }
        .tooltiphover span {
            background: #21262d;
            padding: 5px;
            border-radius: 4px;
            display:block;
            position:fixed;
            overflow:hidden;
        }
        @media (pointer:coarse) {
            .copybutton {
                visibility: hidden;
            }
        }
